.ladle-main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--indigo50);
}

.ladle-aside a {
  font-weight: unset;
  font-size: unset;
  margin-bottom: unset;
}
