:root {
  --indigo50: #e8eaf6;
  --indigo900: #1a237e;
  --orange500: #f97316;
  --orange700: #c2410c;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--indigo50);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 1rem;
  color: var(--indigo900);
  font-size: 2rem;
  text-align: center;
}

.responsive-container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1rem;
  margin: 1rem;
}

.product-satisfaction,
.overall-satisfaction {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.product-satisfaction a {
  display: block;
  color: var(--indigo900);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.overall-satisfaction {
  background-color: var(--indigo900);
  color: var(--indigo50);
}

.overall-satisfaction h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.overall-satisfaction span {
  flex-grow: 1;
}

.rating {
  margin-top: 0.2rem;
}

.fa {
  margin: 0.2rem;
  font-size: 2rem;
}

.checked {
  color: var(--orange500);
}

.action {
  cursor: pointer;
}

.action:hover {
  color: var(--orange700);
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 3rem;
    font-size: 3rem;
  }

  .product-satisfaction,
  .overall-satisfaction {
    padding: 2rem;
  }

  .product-satisfaction a {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .overall-satisfaction h2 {
    font-size: 1.8rem;
  }

  .responsive-container {
    grid-auto-flow: column;
    column-gap: 1rem;
  }

  .rating {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 360px) {
  .fa {
    margin: 0.45rem;
  }
}
